.page {

  }

.gradient_bg {
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  }

.alternate_gradient_bg {
  background-image: linear-gradient(102.4deg, rgba(253, 189, 85, 1) 7.8%, rgba(249, 131, 255, 1) 100.3%);
  }

.fixed {
  position: fixed;
  flex: 1;
  display: flex;
  flex-direction: row;
  }